{# -*- web -*- #}
{% extends "base.j2" %}

{% block header %}
<header class="vcard">
  <h1 class="author fn">Tanglim LUA</h1>
  <abbr class="tel lf-cv-phone" title="+8613735579867">+********</abbr>
  <a class="email" href="mailto:goby@foxmail.com">goby AT foxmail.com</a><br/>
  <a class="url" href="http://goby.github.io">goby.github.io</a>
  <div class="adr">
    <span class="street-address">*****</span><br />
    <span class="postal-code">*****</span>
    <span class="locality">Hangzhou</span><br />
    <span class="country-name">China</span>
  </div>
  <img src="{{ media_url('images/vcard.png')}}" />
  {% include "sidebar.j2" %}
</header>
{% endblock %}

{% macro cvblock(label, place=None, position=None) %}
<div class="lf-cv-block">
    <div class="lf-cv-label">{{ label|e }}</div>
    <div class="lf-cv-content">
      {% if place %}<h3>{{ place|e }}</h3>{% endif %}
      {% if position %}<div class="lf-cv-position">{{ position|e }}</div>{% endif %}
      <div class="lf-cv-description">
{{ caller()|markdown|typogrify }}
      </div>
    </div>
</div>
{% endmacro %}
