{# -*- web -*- #}
<ul>
  {% for menu in resource.meta.menu %}
  <li{% if content_url(resource.url).startswith(content_url(resource.meta.language + '/' + menu['page'])) %} class="active"{% endif %}>
   {% if menu['page'].startswith("http") %}  <a href="{{ menu['page'] }}"> {{ menu['name']|e }} </a>
   {% else %} <a href="{{ content_url(resource.meta.language + '/' + menu['page']) }}"> {{ menu['name']|e }} </a>
   {% endif %}
  </li>
  {% endfor %}
</ul>
